<div class="hero is-bold is-primary">
  <div class="hero-body">
    <h1 class="title">Topics</h1>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <%= render SharedView, "tag_cloud.html", assigns %>
  </div>
</div>