<div class="media">
  <div class="media-left">
    <figure class="image is-128x128">
      <img src="<%= cover_url(@album) %>">
    </figure>
  </div>
  <div class="media-content">
    <strong><%= @album.name %></strong>
    <br />
    <span>By <%= @album.artist.name %></span>
  </div>
</div>
