<div class="media">
  <div class="media-left">
    <figure class="image is-128x128">
      <img src="<%= cover_url(@album) %>">
    </figure>
  </div>
  <div class="media-content">
    <h1 class="title"><%= @album.name %></h1>
    <h2 class="subtitle"><%= @album.artist.name %></h2>
  </div>
</div>
