<div class="card">
	<%= render "album.html", conn: @conn, album: @album %>
</div>

<%= if @logged_in do %>
  <%= link "Edit", to: Routes.album_path(@conn, :edit, @album), class: "button is-info" %>
<% end %>
