<%= if logged_in?(@conn) do %>
<div class="card tabs is-toggle is-centered is-fullwidth">
  <ul>
    <%= link to: @path_helper.(@conn, :edit, @post), class: "nav-link" do %>
      <span><i class="fa fa-edit"></i> Edit</span>
    <% end %>
    <%= link to: @path_helper.(@conn, :delete, @post), method: :delete, data: [confirm: "Are you sure?"], class: "nav-link has-text-danger" do %>
      <span><i class="fa fa-recycle"></i> Delete</span>
    <% end %>
  </ul>
</div>
<% end %>
