[Unit]
Description=Akedia

[Service]
Type=forking
User=akedia
Group=akedia
Restart=on-failure

WorkingDirectory=/home/akedia/akedia/release/akedia/bin
ExecStart=/home/akedia/akedia/release/akedia/bin/akedia start
ExecStop=/home/akedia/akedia/release/akedia/bin/akedia start

[Install]
WantedBy=multi-user.target
