[Unit]
Description=Akedia

[Service]
Type=forking
User=akedia
Group=akedia
Restart=on-failure

WorkingDirectory=/opt/akedia/release/akedia/bin
ExecStart=/opt/akedia/release/akedia/bin/akedia start
ExecStop=/opt/akedia/release/akedia/bin/akedia start

[Install]
WantedBy=multi-user.target
