map $sent_http_content_type $expires {
    default                    off;
    text/html                  epoch;
    text/css                   max;
    application/javascript     7d;
    ~image/                    max;
}

server {
	listen 80;
	server_name inhji.de www.inhji.de;
	return 301 https://$server_name$request_uri;
}

server {
	listen 443 http2 ssl default_server;
	listen [::]:443 http2 ssl default_server;

	ssl_certificate /etc/letsencrypt/live/inhji.de/fullchain.pem;
	ssl_certificate_key /etc/letsencrypt/live/inhji.de/privkey.pem;

	ssl_protocols TLSv1.2 TLSv1.3;# Requires nginx >= 1.13.0 else use TLSv1.2
	ssl_prefer_server_ciphers on;
	ssl_dhparam /etc/nginx/dhparam.pem; # openssl dhparam -out /etc/nginx/dhparam.pem 4096
	ssl_ciphers ECDHE-RSA-AES256-GCM-SHA512:DHE-RSA-AES256-GCM-SHA512:ECDHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-SHA384;
	ssl_ecdh_curve secp384r1; # Requires nginx >= 1.1.0
	ssl_session_timeout  10m;
	ssl_session_cache shared:SSL:10m;
	ssl_session_tickets off; # Requires nginx >= 1.5.9

	add_header Strict-Transport-Security "max-age=63072000; includeSubDomains; preload";
	add_header Referrer-Policy no-referrer-when-downgrade;

  add_header Content-Security-Policy "default-src 'self'; script-src 'self'; object-src 'none'; style-src 'self'; img-src 'self' data: cloud.inhji.de; media-src 'self'; frame-src 'none'; font-src 'self'; connect-src 'self'";
  add_header X-Content-Security-Policy "default-src 'self'; script-src 'self'; object-src 'none'; style-src 'self'; img-src 'self' data: cloud.inhji.de; media-src 'self'; frame-src 'none'; font-src 'self'; connect-src 'self'";
  add_header X-WebKit-CSP "default-src 'self'; script-src 'self'; object-src 'none'; style-src 'self'; img-src 'self' data: cloud.inhji.de; media-src 'self'; frame-src 'none'; font-src 'self'; connect-src 'self'";
	server_name inhji.de;

	client_max_body_size 10M;
	expires $expires;

  rewrite ^/.well-known/(host-meta|webfinger).* https://fed.brid.gy$request_uri redirect;

  # Nginx needs to be configured to alias requests to `/upload` to the uploads dir
	location /uploads {
		alias /home/akedia/akedia/release/akedia/uploads;
	}

	location / {
		proxy_pass http://localhost:4000;
		proxy_set_header X-Real-IP  $remote_addr;
		proxy_set_header X-forwarded-host $host;
		proxy_set_header HOST $host;
		proxy_set_header X-Forwarded-Proto $scheme;
	}

}
