<div class="columns">
  <div class="column is-3">
    <%= render "sidebar.html", assigns %>
  </div>
  <div class="column">
    <%= for post <- @posts do %>
      <article class="card">
        <div class="card-content">
          <h3 class="title"><%= post.title || "No Title" %></h3>
          <%= link post.inserted_at, to: Routes.post_path(@conn, :show, post), class: "subtitle" %>
        </div>
      </article>
    <% end %>
  </div>
</div>