<div class="media">
  <div class="media-left">
    <figure class="image is-128x128">
      <img src="<%= artistimage_url(@artist) %>">
    </figure>
  </div>
  <div class="media-content">
    <h1 class="title"><%= @artist.name %></h1>
    <h2 class="subtitle"><%= Enum.count(@artist.listens) %> Listens total</h2>
  </div>
</div>
