<%= render SharedView, "nav/listen_nav.html", assigns %>
<%= render SharedView, "listens/listens_empty.html", listens: @listens %>

<%= for listen <- @listens do %>
<div class="media is-dense">
  <div class="media-content">
    <p>
      <strong><%= listen.artist %></strong> <span class="dot" /> <span class="has-text-grey"><%= listen.listens %></span>
      <progress class="progress is-primary" value="<%= listen.listens %>" max="<%= @max %>">15%</progress>
    </p>
  </div>
</div>
<% end %>
