<% search_results = Enum.count(@entities) %>

<section class="hero is-primary is-bold card">
  <div class="hero-body">
    <h1 class="title">Results for "<%= @query %>"</h1>
    <h2 class="subtitle"><%= search_results %> posts found.</h2>
  </div>
</section>

<%= if not Enum.empty?(search_results) do %>

<div class="columns is-desktop">
  <div class="column">
    <%= render "entity_feed.html", assigns %>
  </div>
</div>

<% end %>



