<div class="card">
  <div class="card-content">
    <%= render SharedView, "tag_cloud.html", assigns %>
  </div>
  <footer class="card-footer">
    <a href="<%= Routes.topic_path(@conn, :index) %>" class="card-footer-item">
      All Topics
    </a>
  </footer>
</div>
