<%= render SharedView, "nav/topic_nav.html", assigns %>

<section class="hero is-primary is-bold">
  <div class="hero-body">
    <h1 class="title">
      Tagged with <%= @topic.text %>
    </h1>
    <h2 class="subtitle">
      <%= Enum.count(@entities) %> posts found.
    </h2>
  </div>
</section>

<div class="columns is-desktop">
  <div class="column">
    <%= render "entity_feed.html",
        conn: @conn,
        entities: @entities,
        current_user: @current_user %>
  </div>
</div>