<article class="h-entry page <%= pinned_class(@page) %> ">
  <h3 class="title has-text-weight-normal">
    <%= link @page.title, to: Routes.page_path(@conn, :show, @page) %>
  </h3>
  <%= render SharedView, "post_meta.html",
      conn: @conn,
      schema: @page,
      url_helper: &Routes.page_url/3,
      current_user: @current_user %>
</article>
