<%= render SharedView, "nav/post_nav.html", conn: @conn, post: @page, path_helper: &Routes.page_path/3 %>

<div class="content-wrapper">
  <h1 class="title"><%= @page.title %></h1>

  <div class="page content">
    <%= to_html(@page) %>
  </div>

  <%= render SharedView, "post/post_meta.html",
      conn: @conn,
      schema: @page,
      url_helper: &Routes.page_url/3,
      current_user: @current_user %>
</div>
