<article class="h-entry bookmark">
  <h1 class="p-name"><%= @bookmark.title %></h1>

  <div class="e-content bookmark content">
    <%= raw(AkediaWeb.Markdown.to_html(@bookmark)) %>
  </div>

  <p>
    <a href="<%= @bookmark.url %>" class="u-bookmark-of"><%= @bookmark.url %></a>
  </p>
</article>

<%= if @logged_in do %>
  <%= link "Edit", to: Routes.bookmark_path(@conn, :edit, @bookmark) %>
<% end %>