<h1><%= @bookmark.title %></h1>

<div class="bookmark content">
  <%= raw(AkediaWeb.Markdown.to_html(@bookmark)) %>
</div>

<p><%= link @bookmark.url, to: @bookmark.url %></p>

<%= if @current_user do %>
  <%= link "Edit", to: Routes.bookmark_path(@conn, :edit, @bookmark) %>
<% end %>
