<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
	<div class="navbar-brand">
		<%= active_link @conn,
				to: Routes.public_path(@conn, :index),
				class_active: "is-active",
				class: "navbar-item" do %>
				<%= render "logo.html" %>
		<% end %>	
	</div>
</nav>
