<!DOCTYPE html>
<html lang="en">
  <%= render "head.html", assigns %>

  <body class="has-navbar-fixed-top">
    <header class="section is-paddingless">
      <%= render "admin_navigation.html", assigns %>
    </header>

    <nav id="menu">
      <nav class="navbar" role="navigation" aria-label="main navigation"></nav>

      <%= render "admin_drawer.html", assigns %>
    </nav>

    <main id="panel">
      <main>
        <div class="section">
          <main id="content">
            <div class="container">
              <p class="notification is-info" role="alert"><%= get_flash(@conn, :info) %></p>
              <p class="notification is-danger" role="alert"><%= get_flash(@conn, :error) %></p>
              <%= render @view_module, @view_template, assigns %>
            </div>     
          </main>
        </div>
      </main>
    </main> 

    <script type="text/javascript" src='<%= Routes.static_path(@conn, "/js/common.js") %>'></script>
    <script type="text/javascript" src='<%= Routes.static_path(@conn, "/js/admin.js") %>'></script>
  </body>
</html>
