<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="msapplication-TileColor" content="#4145df">
    <meta name="theme-color" content="#4145df">

    <link rel="apple-touch-icon" sizes="180x180" href="<%= Routes.static_path(@conn, "/images/icon/apple-touch-icon.png") %>" />
    <link rel="icon" type="image/png" sizes="32x32" href="<%= Routes.static_path(@conn, "/images/icon/favicon-32x32.png") %>" />
    <link rel="icon" type="image/png" sizes="16x16" href="<%= Routes.static_path(@conn, "/images/icon/favicon-16x16.png") %>" />
    <link rel="mask-icon" href="<%= Routes.static_path(@conn, "/images/icon/safari-pinned-tab.svg") %>" color="#5bbad5" />
    <link rel="manifest" href="<%= Routes.static_path(@conn, "/site.webmanifest") %>" />

    <%= if @has_user do %>
      <%= for profile <- @current_user.profiles do %>
        <link rel="<%= profile.rel_value %>" href="<%= profile.url %>" />
      <% end %>
    <% end %>

    <%= render_existing(@view_module, "meta." <> @view_template, assigns) ||
        render(AkediaWeb.LayoutView, "meta.html", assigns) %>

    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <section class="hero">
      <div class="hero-head">
        <div class="container grid">
          <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
              <a class="navbar-item" href="/">
                <img src="<%= Routes.static_path(@conn, "/images/logo.png") %>" width="30" height="30" alt="Inhji.de Logo">
              </a>

              <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
              <div class="navbar-start">
                <%= link "/bookmarks", to: Routes.bookmark_path(@conn, :index), class: "navbar-item" %>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </section>

    <section class="hero">
      <div class="hero-body">
        <div class="container grid">
          <%= render @view_module, @view_template, assigns %>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="container grid">
        <footer class="has-text-grey">
          <p>
            &copy; 2019 by Jonathan Jenne. Powered by <a href="https://github.com/inhji/akedia" target="_blank" rel="noreferrer" class="has-text-dark">Akedia v<%= version() %></a>.
            <br />
            <%= if @logged_in do %>
            Go to <%= link "Profile", to: Routes.user_path(@conn, :show), class: "nav-link" %>. Or <%= link "Logout", to: Routes.session_path(@conn, :delete), method: "delete", data: [confirm: "ಥ‿ಥ\nR u sure?"], class: "nav-link" %>.
            <% else %>
            <%= link "Login", to: Routes.session_path(@conn, :new), class: "has-text-dark" %>
            <% end %>
          </p>
      </footer>
      </div>
    </section>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
