<!DOCTYPE html>
<html lang="en">
  <%= render "head.html", assigns %>

  <body>
    <section class="section is-paddingless">
      <%= render "navigation.html", conn: @conn, logged_in: @logged_in %>
    </section>

    <div class="section">
      <div class="container">
        <div class="columns">
          <main class="column is-two-thirds" id="content">
            <p class="notification is-info" role="alert"><%= get_flash(@conn, :info) %></p>
            <p class="notification is-danger" role="alert"><%= get_flash(@conn, :error) %></p>
            <%= render @view_module, @view_template, assigns %>
          </main>
          <aside class="column is-one-third" id="sidebar">
            <%= render_existing(@view_module, "sidebar." <> @view_template, assigns) ||
                render_existing(@view_module, "sidebar.html", assigns) %>
          </aside>
        </div>
      </div>
    </div>

    <section class="section is-paddingless">
      <%= render "footer.html", conn: @conn, logged_in: @logged_in %>
    </section>

    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/common.js") %>"></script>

    <!-- View Specific Scripts -->
    <%= render_existing(@view_module, "scripts." <> @view_template, assigns) ||
        render_existing(@view_module, "scripts.html", assigns) %>
  </body>
</html>
