<footer class="footer" id="footer">
  <div class="container">
    <p>&copy; 2019 by Jonathan Jenne. Powered by <a href="https://github.com/inhji/akedia" target="_blank" rel="noreferrer">Akedia v<%= version() %></a>.</p>
  </div>
</footer>
