<p>
    <span>&copy; 2019</span>
    <span class="h-card vcard">
        <a href="<%= canonical_url() %>" rel="me" class="url uid">
            <span class="fn">Jonathan Jenne</span>
        </a>
        <img class="u-photo" src="<%= gravatar_url(@current_user.credential.email) %>" style="display:none;" />
    </span> 
</p>
<p>Akedia v<%= version() %></p>
