<footer class="footer" id="footer">
  <div class="container">
    <p>&copy; 2019 by <%= @current_user.name %>. Powered by <a href="https://github.com/inhji/akedia" target="_blank" rel="noreferrer">Akedia v<%= version() %></a>.</p>
    <p>All artist and album images are copyrighted by their respective copyright owners.</p>
  </div>
</footer>
