<h1>Listing Images</h1>

<div class="gallery">
  <%= for image <- @images do %>
  <div class="image">
    <%= link to: Routes.image_path(@conn, :show, image) do %>
      <img src="<%= Akedia.Media.ImageUploader.url({image.name, image}, :thumb) %>" />
    <% end %>
    <div class="description">
      <%= image.text %>
    </div>
  </div>
  <% end %>
</div>

<span><%= link "New Image", to: Routes.image_path(@conn, :new) %></span>
