<h1>Bilder</h1>

<div class="row">
  <%= for image <- @images do %>
  <div class="image col-3">
    <%= link to: Routes.image_path(@conn, :show, image) do %>
      <img src="<%= Akedia.Media.ImageUploader.url({image.name, image}, :thumb) %>" class="fit" />
    <% end %>
  </div>
  <% end %>
</div>

<%= if @logged_in do %>
  <%= link "New Image", to: Routes.image_path(@conn, :new), class: "btn btn-outline-primary" %>
<% end %>
