<h1>Show Image</h1>

<ul>

  <li>
    <strong>Url:</strong>
    <img src="<%= image_url(@image, :thumb) %>" />
  </li>

  <li>
    <strong>Text:</strong>
    <%= @image.text %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.image_path(@conn, :edit, @image) %></span>
<span><%= link "Back", to: Routes.image_path(@conn, :index) %></span>
