<div class="post-header">
  <strong><%= @current_user.name %></strong>
  <span>
    <%= @schema |> get_post_verb() |> render_post_verb() %>
  </span>
  <span>
  	<%= render SharedView, "post/post_date.html", 
  		conn: @conn, 
  		schema: @schema, 
  		url_helper: @url_helper %>
  </span>
</div>