@media (prefers-color-scheme: dark) {
  $background: $body-background-dark;

  .navbar-brand {
    img {
      filter: invert(100%);
    }
  }

  .bookmark {
    .image {
      background-color: $white;
    }
  }

  article {
    .content {
      a {
        @include nice-underline($background);
      }

      a.footnote, a.reversefootnote {
        color: findColorInvert($primary);
        background: findColorInvert($white);
      }
    }
  }

}
