$full-width: 2 / span 2;

.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr;
}

.header-wrapper {
  grid-column: $full-width;
}

.sidebar-wrapper {
  grid-column: 2 / span 1;
}

.main-wrapper {
  grid-column: 3 / span 1;
}

.footer-wrapper {
  grid-column: $full-width;
}

@media screen and (max-width: $widescreen) {
  .sidebar-wrapper {
    grid-column: $full-width;
  }

  .main-wrapper {
    grid-column: $full-width;
  }
}

@media screen and (max-width: $tablet) {
  .header-wrapper,
  .sidebar-wrapper,
  .main-wrapper,
  .footer-wrapper{
    grid-column: 1 / span 4;
  }

}
