.dot:before {
  content: '·';
}

.is-rounded, .is-rounded img {
  border-radius: $radius-rounded;
}

.media.is-dense {
  margin-top: 0;
  padding-top: 0;
  border: 0;
}

@mixin nice-underline {
  text-decoration: none;
  padding: 10px 0;
  background-image: -webkit-linear-gradient($primary, $primary);
  background-image: -o-linear-gradient($primary, $primary);
  background-image: linear-gradient($primary, $primary);
  background-repeat: no-repeat;
  background-size: 100% 1px;
  background-position: center bottom 29%;
  background-origin: padding-box;
  text-shadow: 3px 0 $background,2px 0 $background,1px 0 $background,-1px 0 $background,-2px 0 $background,-3px 0 $background;
}
