.dot:before {
  content: '·';
}

.icon.is-dense {
  justify-content: left;
  height: 1rem;
  width: 1rem;
}

.is-rounded, .is-rounded img {
  border-radius: $radius-rounded;
}

.is-slightly-rounded, .is-slightly-rounded img {
  border-radius: $radius-slightly-rounded;
}

.is-paddingless-top {
  padding-top: 0;
}

.has-padding {
  padding: 1rem;
}

.media.is-dense {
  margin-top: 0;
  padding-top: 0;
  border: 0;
}

.has-text-red {
  color: $red;
}

@mixin prefers-scheme($scheme) {
  @media (prefers-color-scheme: $scheme) {
    @content;
  }
}

@mixin nice-underline() {
  @include nice-underline-helper($body-background)

  @include prefers-scheme(dark) {
    @include nice-underline-helper($body-background-dark)
  }
}

@mixin nice-underline-helper($background-color) {
  text-decoration: none;
  padding: 10px 0;
  background-image: -webkit-linear-gradient($primary, $primary);
  background-image: -o-linear-gradient($primary, $primary);
  background-image: linear-gradient($primary, $primary);
  background-repeat: no-repeat;
  background-size: 100% 1px;
  background-position: center bottom 29%;
  background-origin: padding-box;
  text-shadow: 3px 0 $background-color,2px 0 $background-color,1px 0 $background-color,-1px 0 $background-color,-2px 0 $background-color,-3px 0 $background-color;
}

@mixin no-underline {
  background: none;
  text-shadow: none;
  padding: 0;
}
