.notification {
	&.is-danger {
    border: 1px solid $danger;
    background-color: lighten($danger, 40%);
    color: $danger;
  }

  &.is-info {
    border: 1px solid $info;
    background-color: lighten($info, 40%);
    color: $info;
  }

  &:empty {
    display: none;
  }
}
