/* This file is for your main application css. */
$red: #d34;
$purple: #4145df;
$magenta: #ff0bcd;
$blue: #0992d6;

$theme-colors: (
  "primary": $purple
);

@import "~bootstrap/scss/bootstrap";

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/regular";

@import "~openwebicons/css/openwebicons-bootstrap.css";

@import "../vendor/image_picker/image_picker";

@import "offcanvas";
@import "gallery";
@import "custom";
