@charset "UTF-8";

// Custom Variables
$layout-width: 600px;

$red: #dd3344;
$primary: $red;

@import "~bulma/sass/utilities/_all";

// Bulma Overrides
$link: $dark;
$navbar-item-active-color: $primary;

// Bulma Prefers-Dark Overrides
$link-dark: $grey-lighter;
$navbar-item-active-color-dark: $primary;

@import "~bulma/sass/base/_all";
@import "~bulma/sass/elements/_all";
@import "~bulma/sass/components/_all";
@import "~bulma/sass/form/_all";
@import "~bulma/sass/grid/_all";
@import "~bulma/sass/layout/_all";
@import "~bulma-prefers-dark/bulma-prefers-dark";

@import "~fork-awesome/scss/fork-awesome.scss";
@import "~openwebicons/css/openwebicons.css";

@import "grid";
@import "phoenix";
@import "helpers";
@import "zen";
@import "tagcloud";

// @import "debug";

::-moz-selection { background: $primary; color: $dark; }
::selection { background: $primary; color: $dark; }

.social a {
  margin-right: 0.3rem;
}

.content {
  a {
    text-decoration: none;
    padding: 10px 0;
    background-image: -webkit-linear-gradient($primary, $primary);
    background-image: -o-linear-gradient($primary, $primary);
    background-image: linear-gradient($primary, $primary);
    background-repeat: no-repeat;
    background-size: 100% 1px;
    background-position: center bottom 29%;
    background-origin: padding-box;
    text-shadow: 3px 0 $background,2px 0 $background,1px 0 $background,-1px 0 $background,-2px 0 $background,-3px 0 $background;
  }
}


section, .footer {
  padding-left: 0;
  padding-right: 0;
}

article {
  margin-bottom:2rem;

  &.post {
    margin-bottom: 4rem;
  }
}

// This needs to be last to override all other styles
@import "dark";
