@charset "UTF-8";

// Ascii Art created with: 
// http://www.patorjk.com/software/taag/#p=display&f=Big%20Money-nw&t=Base

//  $$$$$$\                       $$$$$$\  $$\           
// $$  __$$\                     $$  __$$\ \__|          
// $$ /  \__| $$$$$$\  $$$$$$$\  $$ /  \__|$$\  $$$$$$\  
// $$ |      $$  __$$\ $$  __$$\ $$$$\     $$ |$$  __$$\ 
// $$ |      $$ /  $$ |$$ |  $$ |$$  _|    $$ |$$ /  $$ |
// $$ |  $$\ $$ |  $$ |$$ |  $$ |$$ |      $$ |$$ |  $$ |
// \$$$$$$  |\$$$$$$  |$$ |  $$ |$$ |      $$ |\$$$$$$$ |
//  \______/  \______/ \__|  \__|\__|      \__| \____$$ |
//                                             $$\   $$ |
//                                             \$$$$$$  |
//                                              \______/ 

// Custom Variables
$radius-slightly-rounded: 3px;

$purple: #4c00ff;
$dark-purple: #050011;
$light-purple: #6940fb;

$primary: $purple;
$secondary: #fff;

@import "~bulma/sass/utilities/_all";

// Bulma Overrides
$family-primary: 'Open Sans Regular', sans-serif;
$family-logo: 'Open Sans Light', sans-serif;

$background: $dark-purple;
$body-color: $grey-light;
$body-background-color: $dark-purple;

$navbar-background-color: $dark-purple;
$navbar-item-color: $grey-light;
$navbar-item-hover-background-color: $dark-purple;
$navbar-dropdown-background-color: $dark-purple;
$navbar-dropdown-border-top: 0;
$navbar-dropdown-item-hover-color: $purple;
$navbar-divider-background-color: $purple;

$text: $grey-light;
$text-strong: $grey-light;

$title-color: $grey-light;
$subtitle-color: $grey-light;

$link: $light;
$link-hover: $light-purple;

$card-background-color: transparent;
$card-header-title-size: 3rem;
$card-header-title-letter-spacing: 3px;

$footer-background-color: $dark-purple;

$dimensions: 16 24 32 48 64 96 128 196;

@import "~bulma/sass/base/_all";
@import "~bulma/sass/elements/_all";
@import "~bulma/sass/components/_all";
@import "~bulma/sass/form/_all";
@import "~bulma/sass/grid/_all";
@import "~bulma/sass/layout/_all";
@import "~bulma-prefers-dark/bulma-prefers-dark";
@import "~bulma-tagsinput/dist/css/bulma-tagsinput";
@import "~bulma-switch/dist/css/bulma-switch";
@import "~bulma-divider/dist/css/bulma-divider";
@import "~fork-awesome/scss/fork-awesome.scss";

@import "include/bulma";
@import "include/mixins";
@import "include/notification";
@import "include/helpers";
@import "include/tagcloud";
@import "include/article";
@import "include/prism";
@import "include/zen";
@import "include/lightbox";

// $$$$$$$\                                
// $$  __$$\                               
// $$ |  $$ | $$$$$$\   $$$$$$$\  $$$$$$\  
// $$$$$$$\ | \____$$\ $$  _____|$$  __$$\ 
// $$  __$$\  $$$$$$$ |\$$$$$$\  $$$$$$$$ |
// $$ |  $$ |$$  __$$ | \____$$\ $$   ____|
// $$$$$$$  |\$$$$$$$ |$$$$$$$  |\$$$$$$$\ 
// \_______/  \_______|\_______/  \_______|                                        

// @import "debug";

::-moz-selection { background: $primary; color: $white; }
::selection { background: $primary; color: $white; }

* { box-sizing: border-box; }

@font-face {
    font-family: 'Open Sans Regular';
    src: url('../fonts/OpenSans-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Open Sans Light';
  src: url('../fonts/OpenSans-Light-webfont.woff') format('woff');
  font-weight: lighter;
  font-style: normal;
}

.container {}

a:hover {
  text-decoration: underline;
}

::placeholder {
  color: $dark;
  opacity: 1;
}

// $$\   $$\                           $$\                     
// $$ |  $$ |                          $$ |                    
// $$ |  $$ | $$$$$$\   $$$$$$\   $$$$$$$ | $$$$$$\   $$$$$$\  
// $$$$$$$$ |$$  __$$\  \____$$\ $$  __$$ |$$  __$$\ $$  __$$\ 
// $$  __$$ |$$$$$$$$ | $$$$$$$ |$$ /  $$ |$$$$$$$$ |$$ |  \__|
// $$ |  $$ |$$   ____|$$  __$$ |$$ |  $$ |$$   ____|$$ |      
// $$ |  $$ |\$$$$$$$\ \$$$$$$$ |\$$$$$$$ |\$$$$$$$\ $$ |      
// \__|  \__| \_______| \_______| \_______| \_______|\__|   

.navbar {
  padding: 0 0.75rem;

  .navbar-brand {
    svg {
      fill: $light;
    }

    .navbar-item {
      justify-content: center;
      font-family: $family-logo;
      font-weight: lighter;
      font-size: 150%;
    }
  }

  &.is-dark-purple {
    background: $dark-purple;
  }
}

.profile {
  padding: 1.5rem 0;
  margin: 0 1.5rem;

  border-bottom: 3px solid $purple;

  h1 {
    color: $body-color;
  }
}

// $$$$$$$$\                   $$\                         
// $$  _____|                  $$ |                        
// $$ |    $$$$$$\   $$$$$$\ $$$$$$\    $$$$$$\   $$$$$$\  
// $$$$$\ $$  __$$\ $$  __$$\\_$$  _|  $$  __$$\ $$  __$$\ 
// $$  __|$$ /  $$ |$$ /  $$ | $$ |    $$$$$$$$ |$$ |  \__|
// $$ |   $$ |  $$ |$$ |  $$ | $$ |$$\ $$   ____|$$ |      
// $$ |   \$$$$$$  |\$$$$$$  | \$$$$  |\$$$$$$$\ $$ |      
// \__|    \______/  \______/   \____/  \_______|\__|

footer#footer {
  .social-links {
    li {
      float: left;
      margin-right: 0.25rem;
    }
  }
}

//  $$$$$$\                       $$\                          $$\     
// $$  __$$\                      $$ |                         $$ |    
// $$ /  \__| $$$$$$\  $$$$$$$\ $$$$$$\    $$$$$$\  $$$$$$$\ $$$$$$\   
// $$ |      $$  __$$\ $$  __$$\\_$$  _|  $$  __$$\ $$  __$$\\_$$  _|  
// $$ |      $$ /  $$ |$$ |  $$ | $$ |    $$$$$$$$ |$$ |  $$ | $$ |    
// $$ |  $$\ $$ |  $$ |$$ |  $$ | $$ |$$\ $$   ____|$$ |  $$ | $$ |$$\ 
// \$$$$$$  |\$$$$$$  |$$ |  $$ | \$$$$  |\$$$$$$$\ $$ |  $$ | \$$$$  |
//  \______/  \______/ \__|  \__|  \____/  \_______|\__|  \__|  \____/ 

#weather {
  padding: 0.4rem;
}

main#content {
  .card {
    box-shadow: none;

    .card-header {
      .card-header-title {
        font-weight: 300;
      }
    }
  }

  .invisible {
    display: none;
  }

  .ellipsis:after {
    content: "…"
  }

  article.post, 
  article.bookmark, 
  article.like {
    margin-bottom: 1rem;

    .title {
      font-weight: normal;

      a {
        color: $grey-light;
      }
    }

    .post-header {
      strong {
        color: $title-color;
      }
    }
  }


}

.content {
  .tag, .number {
    display: inline;
    padding: inherit;
    font-size: inherit;
    line-height: inherit;
    text-align: inherit;
    vertical-align: inherit;
    border-radius: inherit;
    font-weight: inherit;
    white-space: inherit;
    background: inherit;
    margin: inherit;
  }
}

.pagination {
  margin: 2rem 0 0 0;

  .pagination-link {
    border: 1px solid $purple;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);

    &.is-current{
      background: $purple;
    }
  }
}

.emoji-picker { z-index: 999; }

.weather {
  canvas#weather {
    padding: 8px;
    border-radius: 5px;

    &.clear-night,
    &.partly-cloudy-night {
      background: #006ab3;
    }

    &.cloudy,
    &.clear-day,
    &.partly-cloudy-day,
    &.rain,
    &.sleet,
    &.snow,
    &.wind {
      background: #00aaff;
    }

    &.fog {
      background: $grey;
    }
  }
}

// $$\      $$\                 $$\ $$\                  $$$$$$\  
// $$$\    $$$ |                $$ |\__|                $$  __$$\ 
// $$$$\  $$$$ | $$$$$$\   $$$$$$$ |$$\  $$$$$$\        $$ /  $$ |
// $$\$$\$$ $$ |$$  __$$\ $$  __$$ |$$ | \____$$\       $$ |  $$ |
// $$ \$$$  $$ |$$$$$$$$ |$$ /  $$ |$$ | $$$$$$$ |      $$ |  $$ |
// $$ |\$  /$$ |$$   ____|$$ |  $$ |$$ |$$  __$$ |      $$ $$\$$ |
// $$ | \_/ $$ |\$$$$$$$\ \$$$$$$$ |$$ |\$$$$$$$ |      \$$$$$$ / 
// \__|     \__| \_______| \_______|\__| \_______|       \___$$$\ 

@media screen and (max-width: $desktop) {
  .cover-container {
    padding-top: 10rem;
  }
}


@media screen and (max-width: $tablet) {
  .section {
    padding: 1rem;
  }

  .title {
    font-size: 1.5rem;
  }
}

// This needs to be last to override all other styles
@include prefers-scheme(dark) {
  .pagination-link.is-current {
    color: $white;
    background-color: $dark;
    border-color: $primary;
  }

  .bookmark {
    .image {
      background-color: $white;
    }
  }

  article {
    .content {
      a.footnote, a.reversefootnote {
        color: findColorInvert($primary);
        background: findColorInvert($white);
      }
    }
  }
}
