@charset "UTF-8";

// Custom Variables
$layout-width: 600px;
$secondary: #D1001F;

$radius-slightly-rounded: 3px;

@import "~bulma/sass/utilities/_all";

// Bulma Overrides
$body-background: $grey;
$dimensions: 16 24 32 48 64 96 128 196;
$link: $dark;
$family-sans-serif: "Segoe UI", "Ubuntu", "Arial", sans-serif;
$family-primary: $family-sans-serif;
$navbar-breakpoint: $tablet;

$menu-label-color: $dark;
$menu-label-font-size: 1rem;
$menu-label-letter-spacing: 0.07rem;
$menu-item-hover-background-color: $grey-lighter;
$menu-item-active-background-color: $dark;

// Bulma Prefers-Dark Overrides
$link-dark: $grey-lighter;
$navbar-item-active-color-dark: $primary;

@import "~bulma/sass/base/_all";
@import "~bulma/sass/elements/_all";
@import "~bulma/sass/components/_all";
@import "~bulma/sass/form/_all";
@import "~bulma/sass/grid/_all";
@import "~bulma/sass/layout/_all";
@import "~bulma-prefers-dark/bulma-prefers-dark";
@import "~bulma-tagsinput/dist/css/bulma-tagsinput";
@import "~bulma-switch/dist/css/bulma-switch";
@import "~bulma-divider/dist/css/bulma-divider";

@import "~fork-awesome/scss/fork-awesome.scss";
@import "~openwebicons/css/openwebicons.css";
@import "~imagelightbox/dist/imagelightbox.min.css";

@import "notification";
@import "helpers";
@import "tagcloud";
@import "navbar";
@import "masonry";
@import "article";

// @import "debug";

::-moz-selection { background: $primary; color: $white; }
::selection { background: $primary; color: $white; }

* { box-sizing: border-box; }

body {
  width: 100%;
  height: 100%;
  background: $body-background;
}

body#admin {
  background: $white;
}

.media {
  .media-left {
    .image {
      text-align: center;
    }
  }

  .media-content {
    overflow: auto;
  }
}

.pagination {
  margin: 2rem 0 0 0;

  .pagination-link {
    background: $white;
    border: none;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);

    &.is-current{
      background: $dark;
    }
  }

  .pagination-ellipsis {
    background: $white;
  }
}

.emoji-picker { z-index: 999; }

.cover-container {
  padding-top: 20rem;
  background-size: cover;

  .cover-content {
    padding: 1.5rem 1.5rem;
    background: rgba(255, 255, 255, 0.6);
  }
}

.author-card {
  .media + .media {
    border-top: 0;
  }
}

svg.emoji-icon {
  width: 1rem;
  height: 1rem;
}

.card {
  margin-bottom: 1rem;

  &> .card-content > article {
    margin-bottom: 0;
  }
}

.intro {
  padding: 10rem 0;
  background-position: center;
  background-size: cover;
}

#content, #admin {
  .content {
    a {
      @include nice-underline;
    }
  }
}

  .is-animiated-on-collapse {
    vertical-align: top;
  }

nav.main-nav { 
  ul.main-nav-list {
    background-color: $dark;
    font-size: 1rem;
    min-width: 200px;
  }


}

#admin-sidebar {
  background-color: $white-ter;



  .menu-label {
    color: $light;
    font-weight: normal;
    border-radius: $radius-slightly-rounded;
    text-transform: none;
  }

  .menu-list li a {
    border-radius: $radius-slightly-rounded;
  }

  #label-create { background-color: $success; }
  #label-content { background-color: $info; }
  #label-indie { background-color: $warning; color: $dark; }
  #label-user { background-color: $primary; }
  #label-settings { background-color: $danger; }
}

.weather {
  canvas#weather {
    padding: 8px;
    border-radius: 5px;

    &.clear-night,
    &.partly-cloudy-night {
      background: #006ab3;
    }

    &.cloudy,
    &.clear-day,
    &.partly-cloudy-day,
    &.rain,
    &.sleet,
    &.snow,
    &.wind {
      background: #00aaff;
    }

    &.fog {
      background: $grey;
    }
  }
}


@media screen and (max-width: $desktop) {
  .cover-container {
    padding-top: 10rem;
  }
}


@media screen and (max-width: $tablet) {
  .section {
    padding: 1rem;
  }

  .title {
    font-size: 1.5rem;
  }
}

// This needs to be last to override all other styles
@include prefers-scheme(dark) {
  .pagination-link.is-current {
    color: $white;
    background-color: $dark;
    border-color: $primary;
  }

  .bookmark {
    .image {
      background-color: $white;
    }
  }

  article {
    .content {
      a.footnote, a.reversefootnote {
        color: findColorInvert($primary);
        background: findColorInvert($white);
      }
    }
  }
}
