$purple: #4145df;
$magenta: #ff0bcd;
$blue: #0992d6;

.alert:empty {
  display: none;
}

a {
  color: $purple;
}

.badge.type {
  color: white;
  font-weight: bold;
}

.badge.bookmark { background-color: $purple; }
.badge.story { background-color: $magenta; }
.badge.page { background-color: $blue; }

.list thead { color: $purple; }
.list a { color: $magenta; }

header {
  margin-bottom: 2rem;
}

footer {
  margin-top: 2rem;
  padding: 4rem 0;
  text-align: center;
  color: $gray-700;
  background-color: $gray-200;
  min-height: 100px;
}
