$purple: #4145df;
$magenta: #ff0bcd;
$blue: #0992d6;

.alert {
  border-radius: 0;

  &:empty {
    display: none;
  }
}

a {
  color: $blue;
}

h1 {
  border-bottom: 3px dashed rgba(0,0,0,0.2);
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
}

header {
  margin-bottom: 2rem;
}

footer {
  margin-top: 2rem;
  padding: 4rem 0;
  text-align: center;
  color: $gray-700;
  background-color: $gray-200;
  min-height: 100px;
}

table tr:first-child td {
    border-top: none;
}

.footnote {
  vertical-align: super;
  font-size: small;

  &:before { content: "[" }
  &:after { content: "]" }
}

.topics { margin-bottom: 2rem; }

img.fit{ max-width: 100% }

.badge.type { color: white; font-weight: bold; }
.badge.bookmark { background-color: $purple; }
.badge.story { background-color: $magenta; }
.badge.page { background-color: $blue; }

.gallery {
  display: flex;
  flex-wrap: wrap;

  .image {
    width: 45%;
    margin-bottom: 1rem;
    margin-right: 1rem;

    @include media-breakpoint-up(md) {
      width: 200px;
    }

    img {
      width: 100%;
    }
  }
}

.form {
  .form-group.floating-label {
    position: relative;
    margin-bottom: 1rem;

    > input, > label {
      height: 3.125rem;
      padding: .75rem;
    }

    > label {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      margin-bottom: 0; /* Override default `<label>` margin */
      line-height: 1.5;
      color: #777;
      pointer-events: none;
      cursor: text; /* Match the input under the label */
      border: 1px solid transparent;
      border-radius: .25rem;
      transition: all .1s ease-in-out;
    }

    input::placeholder {
      color: transparent;
    }

    input:not(:placeholder-shown) {
      padding-top: 1.25rem;
      padding-bottom: .25rem;

      ~ label {
        padding-top: .25rem;
        padding-bottom: .25rem;
        font-size: 12px;
        color: #777;
      }
    }
  }

  .form-control-borderless {
    border: none;
  }

  .form-control-underlined {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px $gray-300 solid;
    border-radius: 0;
  }

  .zennable {
    position: relative;

    textarea {
      resize: none;
    }
  }

  .zennable input {
    display: none;
  }

  .zennable input:checked ~ .zen-backdrop {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;

    textarea {
      max-width: 700px;
      font-size: 150%;
      font-family: monospace;
      height: 100%;
      margin: 0 auto;
      padding-top: 5rem;
      border-radius: 0;
      border: none;
      outline: none;
      resize: none;
      box-shadow: none;
    }
  }

  .zennable label {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $gray-600;

    &:hover {
      color: $gray-800;
    }
  }
}
