use Mix.Config

# Configure your database
config :akedia, Akedia.Repo,
  username: "postgres",
  password: "postgres",
  database: "akedia_test",
  hostname: "localhost",
  pool: Ecto.Adapters.SQL.Sandbox

config :akedia, Akedia.Config,
  weather_apikey: "xxx"