{
    "presets": [
        "@babel/preset-env"
    ],
    "plugins": [
      ["prismjs", {
          "languages": [
            "javascript"
            ,"css"
            ,"markup"
            ,"nginx"
            ,"yaml"
            ,"elixir"
            ,"bash"
            ,"scss"
            ,"sql"
            ,"coffeescript"
          ],
          "plugins": [
            "autolinker"
            ,"highlight-keywords"
            ,"command-line"
          ]
      }]
    ]
}
