{
    "presets": [
        "@babel/preset-env"
    ],
    "plugins": [
      ["prismjs", {
          "languages": [
            "javascript"
            ,"css"
            ,"markup"
            ,"nginx"
            ,"yaml"
            ,"elixir"
            ,"bash"
            ,"scss"
          ],
          "plugins": [],
          "theme": "funky",
          "css": true
      }]
    ]
}
