<%= render SharedView, "post_nav.html", conn: @conn, path_helper: &Routes.like_path/2, drafts: false %>

<div class="content-wrapper">
  <%= for like <- @likes do %>
    <%= render "like.html", Map.put(assigns, :like, like) %>
  <% end %>
</div>

<span><%= link "New Like", to: Routes.like_path(@conn, :new), class: "btn btn-primary" %></span>
