article.post, 
article.bookmark, 
article.like {
  margin-bottom: 1rem;

  .post-header {
    strong {
      color: $title-color;
    }
  }

  .post-content {
    a {
      text-decoration: underline;
    }
  }

  .title {
    font-weight: normal;

    .image {
      display: inline-block;
      vertical-align: bottom;
    }
  }

  .content {
    code, pre {
      white-space: pre-wrap; 
      word-break: break-word;
    }

    pre {
      a {
        color: $purple;
      }
    }

    a.footnote, a.reversefootnote {
      @include no-underline;
      background: $grey-lighter;
      border-radius: $radius-rounded;
      padding: 0 0.25rem;

      &:hover {
        color: $white;
        background: $primary;
      }
    }

    blockquote {
      border: none;
      font-size: 120%;
      padding: 1rem;
      font-family: $poppins-thin;

      color: white;
      text-shadow: 0 0 2px #100c0f, 0 0 5px #dc078e33, 0 0 10px #fff3;

      background-color: transparent !important;
      background-image: linear-gradient(to bottom, #2a2139 75%, #34294f);
    }
  }

  .meta {
    .topics a {
      &::after {
        content: " · "
      }

      &:last-child {
        &::after {
          content: none;
        }
      }
    }
  }
}