article.post, 
article.bookmark, 
article.like {
  margin-top: 3rem;

  .post-header {
    margin-bottom: 0.5rem;

    strong {
      color: $title-color;
    }
  }

  .post-content {
    a {
      text-decoration: underline;
    }
  }

  .title {
    font-weight: normal;

    .image {
      display: inline-block;
      vertical-align: bottom;
    }
  }

  .content {
    code, pre {
      white-space: pre-wrap; 
      word-break: break-word;
    }

    code.inline {
      color: #e3116c;
    }

    pre {
      a {
        color: $purple;
      }
    }

    a.footnote, a.reversefootnote {
      @include no-underline;
      background: $grey-lighter;
      border-radius: $radius-rounded;
      padding: 0 0.25rem;

      &:hover {
        color: $white;
        background: $primary;
      }
    }

    blockquote {
      font-size: 120%;
      padding: 1rem;
      font-family: $poppins-light;
      border: 1px solid #dddddd;
      background: $light;
    }

    @include prefers-scheme(dark) {
      blockquote {
        background: $black-bis;
        border: 1px solid $grey-darker;
      }
    }
  }

  .meta {
    margin-top: 0.5rem;

    .topics a {
      &::after {
        content: " · "
      }

      &:last-child {
        &::after {
          content: none;
        }
      }
    }
  }

  .invisible {
    display: none;
  }

  .ellipsis:after {
    content: "…"
  }
}