@mixin prefers-scheme($scheme) {
  @media (prefers-color-scheme: $scheme) {
    @content;
  }
}

@mixin nice-underline() {
  @include nice-underline-helper($white)

  @include prefers-scheme(dark) {
    @include nice-underline-helper($body-background-dark)
  }
}

@mixin nice-underline-helper($background-color) {
  text-decoration: none;
  padding: 10px 0;
  background-image: -webkit-linear-gradient($secondary, $secondary);
  background-image: -o-linear-gradient($secondary, $secondary);
  background-image: linear-gradient($secondary, $secondary);
  background-repeat: no-repeat;
  background-size: 100% 1px;
  background-position: center bottom 29%;
  background-origin: padding-box;
  text-shadow: 3px 0 $background-color,2px 0 $background-color,1px 0 $background-color,-1px 0 $background-color,-2px 0 $background-color,-3px 0 $background-color;
}

@mixin no-underline {
  background: none;
  text-shadow: none;
  padding: 0;
}