<%= render("listen_nav.html", assigns) %>
<%= render "empty.html", listens: @listens %>

<%= for listen <- @listens do %>
<div class="media is-dense">
  <div class="media-content">
    <p>
      <strong><%= listen.artist %></strong> <small><%= listen.listens %></small>
      <progress class="progress" value="<%= listen.listens %>" max="<%= @max %>">15%</progress>
    </p>
  </div>
</div>
<% end %>
