<%= render("listen_nav.html", assigns) %>

<%= for listen <- @listens do %>
<div class="media is-dense">
  <div class="media-left">
    <figure class="image is-64x64">
      <img src="<%= Routes.static_path(@conn, "/images/album.png") %>" alt="">
    </figure>
  </div>
  <div class="media-content">
    <p>
      <strong><%= listen.track %></strong> <small><%= listen.listens %></small>
    </p>
  </div>
</div>
<% end %>
