<div class="posts list h-feed">
  <%= for post <- @posts do %>
    <%= render "post.html", conn: @conn, post: post %>
  <% end %>
</div>

<%= if @logged_in do %>
  <%= link "New Post", to: Routes.post_path(@conn, :new), class: "btn btn-outline-primary" %>
<% end %>
