<section class="hero is-primary is-bold card">
  <div class="hero-body">
    <h1 class="title">Showing posts</h1>
    <h2 class="subtitle"><%= Enum.count(@posts) %> posts found.</h2>
  </div>
</section>

<div class="columns is-desktop">
  <div class="column">
    <div class="posts h-feed">
      <%= for post <- @posts do %>
        <%= render "post.html", conn: @conn, post: post, current_user: @current_user %>
      <% end %>
    </div>
  </div>
  <div class="column"></div>
</div>
