<%= render "post.html", conn: @conn, post: @post %>

<%= link "Edit", to: Routes.post_path(@conn, :edit, @post) %>
<%= link "Delete", to: Routes.post_path(@conn, :delete, @post), method: :delete, data: [confirm: "Are you sure?"] %>
