<%= form_for @conn, Routes.webauthn_path(@conn, :create), [id: "registration-create", class: "form"], fn f -> %>
  <%= label f, :name %>
  <%= text_input f, :name, class: "input" %>
  <%= label f, :credential_name%>
  <%= text_input f, :credential_name, class: "input" %>
  <%= submit "Register", class: "button" %>
<% end %>