<aside class="meta">
  <%= render SharedView, "post/post_icon.html", schema: @schema %>
  <%= render SharedView, "post/post_date.html", conn: @conn, schema: @schema, url_helper: @url_helper %>
  <%= render SharedView, "post/post_url.html", conn: @conn, schema: @schema %>
  <%= render SharedView, "post/post_reply.html", conn: @conn, schema: @schema %>
  <%= render SharedView, "post/post_topics.html", conn: @conn, topics: @schema.entity.topics %>
  <%= render SharedView, "post/post_syndications.html", conn: @conn, schema: @schema %>
  <%= render SharedView, "post/post_author.html", conn: @conn, current_user: @current_user %>
</aside>
