<%= if github_syndication(@schema) do %>
  <% github_syndication = github_syndication(@schema) %>
  <span class="dot" />
  <a href="https://brid.gy/publish/github"></a>
  <a href="<%= github_syndication.url || "#" %>" class="has-text-grey">
    <i class="fa fa-github"></i>
  </a>
<% end %>
