<div class="tabs">
  <ul>
    <%= active_link(@conn, "User", to: Routes.user_path(@conn, :show), active: :exact, class_active: "is-active", wrap_tag: :li) %>
    <%= active_link(@conn, "Profiles", to: Routes.profile_path(@conn, :index), class_active: "is-active", wrap_tag: :li) %>
  </ul>
</div>
