<h1>Profile</h1>

<div class="media">
  <img src="<%= gravatar_url(@user.credential.email) %>" class="mr-3" alt="...">
  <div class="media-body">
    <h5 class="mt-0">Hello <%= @user.name %>!</h5>
    <p>
      <span>Username: <%= @user.username %></span><br/>
      <span>Email: <%= @user.credential.email %></span>
    </p>
  </div>
</div>

<span><%= link "Edit", to: Routes.user_path(@conn, :edit), class: "btn btn-success" %></span>
