<%= render SharedView, "user_nav.html", assigns %>

<div class="media">
  <img src="<%= avatar_path(@conn) %>" class="mr-3 avatar" width="100">
  <div class="media-body">
    <h3 class="mt-0"><%= @user.name %> <small class="text-muted">aka <%= @user.username %></small></h3>
    <p>
      <span>Email: <%= @user.credential.email %></span><br/>
    </p>
  </div>
</div>

<%= link "Edit", to: Routes.user_path(@conn, :edit), class: "btn btn-success" %>
